<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body>
    <h2>Hello, <%= username %></h2>
    <p>Admin created your Account Please verify your account by clicking on below link </p>
    <p>Link Will be valid for 1-day</p>
    <h1>Email Verification</h1>
    <p>Please click the link below to verify your email address:</p>
    <a href="<%= verificationLink %>">Verify Email</a>
</body>
</html>